
<div class="bg">
      <div class="text-red text-center py-5 px-4">
        <div>
          <br>
          <h1 class="card-title h1-responsive pt-3 mb-5 font-bold  animated fadeIn "><strong>Mastadon Coding</strong></h1>
          <div class="pt-3 mb-5 font-bold  animated fadeIn text-white">
            <p>I'm a beast from the east that hangs with the best in the west.</p>  
            <p>My professional background spans candy chef, business analyst, ETL Developer</p>  
            <p>I've gotten into coding because I love systems and infusing some sort of soul into the machine.</p>
          </div>
          <h3 class="mx-5 mb-5 animated fadeIn text-white"> Project Manager, Analyst, Developer</h3>
          <a class="btn btn-outline-white btn-md" href="/Projects">
            <i class="fas fa-clone left animated fadeIn"></i> 
            View projects 
          </a>
        </div>
      </div>
   
 <footer class="page-footer font-small blue pt-4 fixed-bottom footer-copyright text-center">
   <a class="li-ic mr-3" role="button" href="https://www.linkedin.com/in/luis-sandoval-a2294660/"><i class="fab fa-lg fa-linkedin-in fa-2x"></i></a>
    <a class="git-ic mr-3" role="button" href="https://github.com/MastadonRising"><i class="fab fa-lg fa-github fa-2x"></i></a>
  </footer>
</div>
    

