
<div class="jarallax" style="background-image: url('/assets/images/Valley.jpg');">
<div class="container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-3">
                <div class="card card-cascade">

                        <!-- Card image -->
                        <div class="view view-cascade overlay">
                            <img class="card-img-top" src="/assets/images/trivia.jpg" alt="Card image cap">
                            <a>
                            <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!-- Card content -->
                        <div class="card-body card-body-cascade text-center">

                            <!-- Title -->
                            <h4 class="card-title"><strong>Trivial Calendar</strong></h4>
                            <!-- Subtitle -->
                            <h6 class="font-weight-bold indigo-text py-2">JS CSS Rest API's</h6>
                            <!-- Text -->
                            <p class="card-text">Fun Calendar web app with date based trivia. 


                            </p>
                        </div>
                        <!-- Card footer -->
                        <div class="card-footer text-muted text-center">
                            <a type="button" class="btn-floating btn-small btn-fb" href="https://github.com/MastadonRising/Trivial-Calendar"><i class="fab fa-lg fa-github fa-2x"></i></a>
                            <a type="button" class="btn-floating btn-small btn-fb" href="https://mastadonrising.github.io/Trivial-Calendar/"><i class="fab fa-lg fa fa-globe fa-2x"></i></a>
                        </div>

                        </div>
                        <!-- Card Regular -->
        </div>
        
        <div class="col-sm-3">
            <div class="card card-cascade">
                <div class="view view-cascade overlay">
                    <img class="card-img-top" src="/assets/images/burger.jpg" alt="Card image cap">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                </div>
                <div class="card-body card-body-cascade text-center">
                    <h4 class="card-title"><strong>BrGrLgR</strong></h4>
                    <h6 class="font-weight-bold indigo-text py-2">JS SQL HandleBars</h6>
                    <p class="card-text"> Burger logging app you Devour the burger moves.</p>
                </div>
                <div class="card-footer text-muted text-center">
                    <a type="button" class="btn-floating btn-small btn-fb" href="https://github.com/MastadonRising/BrGrLgR"><i class="fab fa-lg fa-github fa-2x"></i></a>
                    <a type="button" class="btn-floating btn-small btn-fb" href="https://young-mesa-71396.herokuapp.com/"><i class="fab fa-lg fa fa-globe fa-2x"></i></a>
                </div>
            </div>

            
        </div>

        <div class="col-sm-3">
            <div class="card card-cascade">
                <div class="view view-cascade overlay">
                    <img class="card-img-top" src="/assets/images/weather.jpg" alt="Card image cap">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                </div>
                <div class="card-body card-body-cascade text-center">
                    <h4 class="card-title"><strong>WeatherDashBoard</strong></h4>
                    <!-- Subtitle -->
                    <h6 class="font-weight-bold indigo-text py-2">JS CSS Rest API's HTML</h6>
                    <!-- Text -->
                    <p class="card-text"> 5 day weather forcast. Stores recently searched cities. 
                    </p>
                </div>
                <div class="card-footer text-muted text-center">
                    <a type="button" class="btn-floating btn-small btn-fb" href="https://github.com/MastadonRising/WeatherDashBoard"><i class="fab fa-lg fa-github fa-2x"></i></a>
                    <a type="button" class="btn-floating btn-small btn-fb" href="https://mastadonrising.github.io/WeatherDashBoard/"><i class="fab fa-lg fa fa-globe fa-2x"></i></a>
                </div>
            </div>
        </div>
    </div>  
    <br>
    <div class="row">
        <div class="col-sm-2"></div>
        

        <div class="col-sm-3">
            <div class="card card-cascade">
                        <!-- Card image -->
                <div class="view view-cascade overlay">
                    <img class="card-img-top" src="/assets/images/planner.jpg" alt="Card image cap">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                </div>
                <div class="card-body card-body-cascade text-center">
                    <h4 class="card-title"><strong>DayPlanner</strong></h4>
                            <!-- Subtitle -->
                        <h6 class="font-weight-bold indigo-text py-2">JS CSS HTML</h6>
                            <!-- Text -->
                        <p class="card-text"> Functional Day Planner for those 9-5 hours where it really counts.

                        </p>
                        </div>
                        <div class="card-footer text-muted text-center">
                                 <a type="button" class="btn-floating btn-small btn-fb" href="https://github.com/MastadonRising/DayPlanner"><i class="fab fa-lg fa-github fa-2x"></i></a>
                            <a type="button" class="btn-floating btn-small btn-fb" href="https://mastadonrising.github.io/DayPlanner/"><i class="fab fa-lg fa fa-globe fa-2x"></i></a>
                        </div>

                        </div>
                        <!-- Card Regular -->
        </div>
        <div class="col-sm-3">
            <div class="card card-cascade">
                <div class="view view-cascade overlay">
                    <img class="card-img-top" src="/assets/images/boss.jpg" alt="Card image cap">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                </div>
                <div class="card-body card-body-cascade text-center">
                    <h4 class="card-title"><strong>bigBrotherSql</strong></h4>
                            <!-- Subtitle -->
                        <h6 class="font-weight-bold indigo-text py-2">JS SQL</h6>
                            <!-- Text -->
                        <p class="card-text"> CLI for managing employees Roles and Departments. 

                        </p>
                        </div>
                        <div class="card-footer text-muted text-center">
                                 <a type="button" class="btn-floating btn-small btn-fb" href="https://github.com/MastadonRising/bigBrotherSql"><i class="fab fa-lg fa-github fa-2x"></i></a>
                        </div>

                        </div>
                        <!-- Card Regular -->
        </div>
        <div class="col-sm-3">
            <div class="card card-cascade">
                <div class="view view-cascade overlay">
                    <img class="card-img-top" src="/assets/images/ice.jpg" alt="Card image cap">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                </div>
                <div class="card-body card-body-cascade text-center">
                    <h4 class="card-title"><strong>Aptt On Ice</strong></h4>
                    <!-- Subtitle -->
                    <h6 class="font-weight-bold indigo-text py-2">JS CSS SQL</h6>
                    <!-- Text -->
                    <p class="card-text"> Scheduling application for Ice Skating lessons. 
                    </p>
                </div>
                <div class="card-footer text-muted text-center">
                    <a type="button" class="btn-floating btn-small btn-fb" href="https://github.com/MastadonRising/Aptt_on_Ice"><i class="fab fa-lg fa-github fa-2x"></i></a>
                    <a type="button" class="btn-floating btn-small btn-fb" href="https://intense-falls-96725.herokuapp.com/"><i class="fab fa-lg fa fa-globe fa-2x"></i></a>
                </div>
            </div>
        </div>
    </div>
<br>
<br>
<br>

<footer class="page-footer font-small blue pt-4 fixed-bottom footer-copyright text-center">
    <a class="home-ic " href="/" role="button"><i class="fa fa-home fa-2x " ></i></a>
   <a class="li-ic mr-3" role="button" href="https://www.linkedin.com/in/luis-sandoval-a2294660/"><i class="fab fa-lg fa-linkedin-in  fa-2x"></i></a>
    <a class="git-ic mr-3" role="button" href="https://github.com/MastadonRising"><i class="fab fa-lg fa-github fa-2x"></i></a>
</footer>

    </div>
</div>  